.gameBoard {
    display: -moz-grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    /* justify-content: center; */
}

.whiteTile {
    color: #ffffff;
    height: 1fr;
    width: 1fr;
}

.blackTile {
    color: #000000;
    height: 1fr;
    width: 1fr;
}
